/* 4 - External */
body {
  padding-bottom: 500px;
}

h3 {
  color: green;
}

p {
  color: blueviolet;
}

/* Algum comentário */
/* mais um comentário * /
/* Terceiro comentário */

/* classes */
.paragraph {
  background-color: #000;
  color: aqua;
  padding: 5px;
}

/* ids */
#exclusive-title {
  background-color: purple;
  color: yellow;
  padding: 10px;
  font-size: 40px;
}

/* ordem das regras */
h2 {
  border-bottom: 2px solid red;
}

.titulo {
  border-bottom: 3px solid blue;
}

#algum-titulo {
  border-bottom: 4px solid green;
}

/* Nome de cores */
.color-name {
  color: crimson;
}

/* Hex */
.hex {
  color: #55a398;
}

.hex-2 {
  color: #00eaff;
}

/* Aprofundando em hex */
.simple-hex {
  color: #333;
}

.simple-hex-2 {
  color: #a5f;
}
