/* Geral */
* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  color: #333;
}

p {
  color: #70747a;
}

/* Navbar */
.navbar-container {
  width: 100%;
  height: 80px;
  background-color: #232a31;
  padding: 0 2rem;
}

nav {
  position: relative;
}

.logo {
  width: 50px;
  margin-top: 15px;
}

.navbar-items {
  position: absolute;
  right: 0;
  height: 80px;
  line-height: 80px;
  margin: 0;
  display: inline-block;
}

.navbar-items li {
  display: inline-block;
  text-transform: uppercase;
  margin-left: 25px;
}

.navbar-items a {
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
}

.navbar-items a:hover {
  color: #ccc;
}

.default-btn {
  padding: 15px 20px;
  background-color: #2cc76a;
  border-radius: 5px;
}

.navbar-items .default-btn:hover {
  background-color: #22bb5f;
  color: #fff;
}

/* main banner */
.main-banner {
  background-image: url("../img/mainbanner.png");
  background-size: cover;
  background-position: center;
  padding: 10rem 0;
}

.main-banner h1,
.main-banner p {
  color: #fff;
  text-align: center;
  font-weight: bold;
  text-shadow: #000 3px 2px 3px;
}

.main-banner h1 {
  font-size: 54px;
}

.main-banner p {
  font-size: 32px;
}
